body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(8, 0, 77);
  color: rgb(93, 0, 255);
}

nav {
  position: fixed;
  display: flex;
  align-items: center;
  top: 0px;
  background-color: rgb(10, 0, 148);
  height: 50px;
  width: 100%;
}

nav span {
  margin-left: 5px;
  font-size: 1.5rem;
}

.navlinks {
  margin-left: auto;
}

nav a {
  color: rgb(161, 0, 0);
  margin-left: 10px;
  margin-right: 10px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 400px;
  margin-right: 400px;
  height: 300px;
}

.border {
  padding-top: 50px;
  background-color: rgb(7, 9, 29);
  margin-left: 50px;
  margin-right: 50px;
  /* Proportional unit */
  min-height: 91vh;
}

.flex {
  display: flex;
  flex-direction: column;
}

.grid {
  display: grid;
  height: auto;
  grid-template-columns: [c1] 3fr [c2] 2fr [c3];
  grid-template-rows: [r1] 3fr [r2] 2fr [r3];
}

.quote {
  margin: 15px;
  font-size: 2rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  grid-column: c1 / c3;
  grid-row: r2 / r3;
}

img {
  margin: 15px;
  float: right;
  height: 200px;
  width: 200px;
}

.box {
  background-color: black;
  margin: 15px;
  display: block;
  height: 300px;
}

.home {
  font-size: 2rem;
  height: 400px;
  margin: 15px;
  grid-column: c1 / c2;
  grid-row: r1 / r2;
}

.homeimg {
  height: 300px;
  width: 186px;
  justify-self: end;
  grid-column: c2 / c3;
  grid-row: r1 / r2;
}

input[type="text"],
input[type="email"],
textarea {
  background-color: rgb(12, 0, 99);
  color: aliceblue;
}
